@font-face {
    font-family: pixChicago;
    src: url('../fonts/pixChicago/pixChicago.woff');
}

@font-face {
    font-family: silkscreen;
    src: url('../fonts/silkscreen/slkscre.ttf');
}

@font-face {
    font-family: spaceGroteskBold;
    src: url('../fonts/spaceGrotesk/SpaceGrotesk-Bold.ttf');
}

@font-face {
    font-family: spaceGroteskSemiBold;
    src: url('../fonts/spaceGrotesk/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
    font-family: spaceGroteskRegular;
    src: url('../fonts/spaceGrotesk/SpaceGrotesk-Regular.ttf');
}

@font-face {
    font-family: spaceGroteskLight;
    src: url('../fonts/spaceGrotesk/SpaceGrotesk-Light.ttf');
}

@font-face {
    font-family: spaceGroteskMedium;
    src: url('../fonts/spaceGrotesk/SpaceGrotesk-Medium.ttf');
}

@font-face {
    font-family: AdvancedPixel;
    src: url('../fonts/advancedPixel/AdvancedPixelLCD-7.woff2') format('woff2'),
        url('../fonts/advancedPixel/AdvancedPixelLCD-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline: none;
}

body {
    background-image: url('../images/bg.png');
    overflow: hidden;
}

#root {
    height: 100vh;
}

.app-wrapper {
    display: flex;
    height: calc(100% - 90px);
}

.app-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 100%;
    left: 0;
    top: 0;
    background: #EFEFEF;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    padding: 84px 10px 40px;
}

.app-content {
    padding: 47px 108px;
    width: 100%;
    overflow: auto;
}

@keyframes openModal {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@import "Header.css";
@import "Sidebar.css";
@import "Pools.css";
@import "PoolDetails.css";
@import "MyAccount.css";
@import "Leaderboard.css";
@import "Modal.css";
@import "Responsive.css";
@import "_buttons.css";