.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: url('../images/bg.png');
}

.modal.open {
    animation: openModal .5s;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: #EFEFEF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
}

.modal-header button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    padding: 11px 24px;
    font-family: pixChicago;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.04em;
    width: 140px;
    height: 46px;
    cursor: pointer;
}

.modal-content {
    overflow-y: auto;
    height: 91vh;
    display: block;
    padding: 90px;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-content .box-content {
    padding: 20px 13px 13px;
}

.modal-content .box-inner {
    background: #DEDEDE;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    padding: 40px 60px 50px;
}

.modal-title {
    font-family: pixChicago;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.modal-title.required-changes {
    margin-bottom: 20px;
}

.modal-description {
    font-family: spaceGroteskSemiBold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.modal-description.required-changes {
    margin-bottom: 10px;
}

.modal-description-sm {
    font-family: spaceGroteskSemiBold;
    font-size: 14px;
    text-align: center;
    max-width: 364px;
    margin-right: auto;
    margin-left: auto;
}

.modal-description-sm.required-changes {
    margin-top: 20px;
}

.wallets {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

.wallets button {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    padding: 29px;
    cursor: pointer;
}

.odds {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 11px 25px;
    background: #DEDEDE;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    font-family: spaceGroteskBold;
    font-size: 18px;
}

.ticket-amount-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: pixChicago;
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 10px;
}

.ticket-amount-label > div {
    display: flex;
    align-items: center;
} 

.ticket-amount-label > div img {
    margin-right: 10px;
}

.ticket-amount-input {
    position: relative;
    margin-bottom: 20px;
}

.ticket-amount-input .max-btn {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    font-family: pixChicago;
    font-weight: normal;
    font-size: 10px;
    padding: 7px 20px;
    position: absolute;
    right: 30px;
    top: 11px;
    cursor: pointer;
    transition: 0.2s;
}

.ticket-amount-input .max-btn:hover {
    background: #EFEFEF;
}

.ticket-amount-input .max-btn:focus {
    background: #DEDEDE;
    border: 1px solid #000000;
    box-shadow: inset 2px 2px 0px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 0px 2px rgba(255, 255, 255, 0.7);
}

.ticket-amount-input input {
    width: 100%;
    background: #EFEFEF;
    border: 1px solid #000000;
    box-shadow: inset 2px 2px 0px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 0px 2px rgba(255, 255, 255, 0.7);
    padding: 15px 30px;
    font-family: spaceGroteskBold;
    font-size: 18px;
    text-align: right;
}

.token {
    padding: 18px 25px;
    background: #DEDEDE;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.token h1 {
    font-family: pixChicago;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.token h1 img {
    margin-right: 10px;
}

.token h2 {
    font-family: pixChicago;
    font-weight: normal;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 75px;
    height: 42px;
    background: #FF636B;
    position: relative;
    transition: background-color .2s;
    border: 1px solid #000000;
    box-shadow: inset 2px 2px 0px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 0px 2px rgba(255, 255, 255, 0.7);
    margin-left: 15px;
}

.switch-button {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 27px;
    height: 27px;
    transition: 0.2s;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-checkbox:checked + .switch-label .switch-button {
    left: calc(100% - 7px);
    transform: translateX(-100%);
}

.continue-btn {
    display: flex;
    justify-content: center;
    margin: 15px 0 25px;
}

.continue-btn button {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 2px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.5);
    padding: 17px 100px;
    font-family: pixChicago;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.confirm-deposit-loading {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.prize-will-be-awarded-in {
    font-family: spaceGroteskBold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.get-notified {
    background: #DEDEDE;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    padding: 20px 92px;
    margin-top: 15px;
}

.get-notified-label {
    font-family: pixChicago;
    font-weight: normal;
    font-size: 13px;
}

.get-notified-field {
    display: grid;
    grid-template-columns: auto 280px;
    grid-gap: 30px;
    margin-top: 10px;
}

.get-notified-field input {
    padding: 17px 30px;
}

.get-notified-field input::placeholder {
    font-family: spaceGroteskRegular;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.get-notified-field button {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 2px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.5);
    font-family: pixChicago;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 14px 30px;
}

.prize-awarded-img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.prize-awarded-img div {
    display: flex;
    justify-content: center;
    padding: 0px 80px;
    border-bottom: 1px solid #000;
}

.prize-awarded-img img {
    height: 100%;
    object-fit: cover;
}

.view-leaderboard {
    display: flex;
    justify-content: center;
    margin: 25px 0 15px;
}

.view-leaderboard button,
.view-leaderboard-withdraw button {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 2px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.5);
    font-family: pixChicago;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.04em;
    padding: 17px 0;
    width: 340px;
    cursor: pointer;
}

.view-leaderboard-withdraw.required-changes button {
    width: auto;
}

.view-leaderboard-withdraw {
    display: grid;
    grid-template-columns: minmax(auto, 338px) minmax(auto, 338px);
    grid-gap: 30px;
    justify-content: center;
    margin: 25px 0 15px;
}