.reward-pool-details-title {
    display: flex;
    align-items: center;
    font-family: pixChicago;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.reward-pool-details-title img {
    width: 47px;
    height: 47px;
    margin-right: 20px;
}

.breadcrumbs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-start;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.breadcrumbs a {
    font-family: spaceGroteskBold;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumbs label {
    font-family: spaceGroteskBold;
    font-size: 18px;
    color: #FFFFFF;
}

.pools-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 30px;
}

.pools-box.required-changes {
    margin-bottom: 30px;
}

.pools-box-content.required-changes {
    padding: 12px;
}

.pools-box-inner.required-changes {
    margin-bottom: 0;
    padding: 12px;
}

.pools-box-inner.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 17px;
    width: 100%;
}

.pools-box-inner-title.required-changes {
    justify-content: flex-start;
    margin-bottom: 17px;
}

.pools-box-screen.required-changes {
    margin-bottom: 0;
}

.pools-box-progress.required-changes {
    margin-bottom: 20px;
}

.pools-box-inner-description {
    font-family: spaceGroteskBold;
    font-size: 18px;
    color: #000000;
    margin-bottom: 17px;
}

.yield-source-title {
    display: flex;
    align-items: center;
    font-family: pixChicago;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.yield-source-title img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
}

.past-prizes {
    display: grid;
    grid-template-columns: auto minmax(auto, 400px) auto;
    grid-gap: 10px;
    align-items: baseline;
    font-family: spaceGroteskSemiBold;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.past-prizes div:nth-child(2) {
    border-bottom: 2px dotted #000;
}

.yield-source .pools-box-content,
.past-five-prizes .pools-box-content {
    height: calc(100% - 35px);
}

.yield-source .pools-box-inner,
.past-five-prizes .pools-box-inner {
    height: 100%;
}

.yield-source .pools-box-screen,
.past-five-prizes .pools-box-screen {
    min-height: 84%;
}

.players {
    margin-bottom: 30px;
}