@font-face {
    font-family: pixChicago;
    src: url(./assets/fonts/pixChicago/pixChicago.ttf);
}

@font-face {
    font-family: spaceGroteskBold;
    src: url(./assets/fonts/spaceGrotesk/SpaceGrotesk-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

body {
    background-color: #6567CC;
    overflow: hidden;
}

header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    background: #EFEFEF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    padding: 19px 50px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    height: 9vh;
}

.no-loss-lottery,
.no-loss-lottery-mobile {
    display: flex;
    align-items: center;
}

.no-loss-lottery h4,
.no-loss-lottery-mobile h4 {
    font-family: pixChicago;
    font-size: 26px;
    color: #000000;
    margin-left: 15px;
}

.no-loss-lottery i,
.no-loss-lottery-mobile i {
    font-size: 26px;
}

.connect-wallet button,
.connect-wallet-mobile button {
    font-family: pixChicago;
    font-size: 20px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    padding: 7px 50px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
}

.mobile-menu {
    display: none;
}

.mobile-menu .open-sidebar {
    height: 100%;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
}

.close-sidebar {
    height: 100%;
    width: 100%;
    font-size: 26px;
    cursor: pointer;
    background: #DEDEDE;
    border: 1px solid #000000;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 0px 2px rgba(255, 255, 255, 0.7);
    padding: 3px 0;
}

.sidebar-on-mobile {
    position: absolute;
    width: 300px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #EFEFEF;
    box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.sidebar-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100vh;
    background: rgba(0,0,0,0.6);
}

.sidebar-header {
    display: grid;
    grid-template-columns: 1fr 45px;
    padding: 21px;
    border-bottom: 1px solid #000000;
    height: 9vh;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 21px;
    background: #EFEFEF;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    height: 91vh;
}

.sidebar-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-copyright i {
    font-size: 30px;
    margin-right: 15px;
}

.sidebar-copyright p {
    font-family: spaceGroteskBold;
    font-size: 18px;
    color: #000000;
}

ul.sidebar-menu {
    list-style: none;
}

ul.sidebar-menu a {
    display: flex;
    align-items: center;
    padding: 24px 53px;
    font-size: 18px;
    color: #000;
    font-family: spaceGroteskBold;
    text-decoration: none;
    margin-bottom: 10px;
}

ul.sidebar-menu a.active {
    background: #DEDEDE;
    border: 1px solid #000000;
    box-shadow: inset 2px 2px 0px 1px rgba(0, 0, 0, 0.5), inset -2px -2px 0px 2px rgba(255, 255, 255, 0.7);
}

ul.sidebar-menu a i {
    margin-right: 10px;
    font-size: 24px;
}

.app-wrapper {
    display: flex;
    height: 91vh;
}

.app-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 100%;
    left: 0;
    top: 0;
    background: #EFEFEF;
    box-shadow: inset -1px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 3px 3px 0px rgba(255, 255, 255, 0.7);
    padding: 84px 10px 40px;
}

.app-content {
    padding: 47px 108px;
}


.lottery-pools-section .title {
    font-family: pixChicago;
    font-size: 36px;
    color: #FFFFFF;
}

@media only screen and (max-width: 993px) {
    header {
        grid-template-columns: 180px 1fr 230px;
        padding: 18px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        grid-template-columns: 1fr 45px;
    }
    .no-loss-lottery,
    .connect-wallet,
    .app-sidebar {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .no-loss-lottery-mobile h4 {
        font-size: 20px;
    }
    .connect-wallet-mobile button {
        width: 100%;
        margin-bottom: 40px;
        padding: 12px 50px;
    }
}